// Text Colors
$nav-color: white;
$page-color: white;
$top-nav-color: white;
$table-color: white;
$input-color: white;

// Background colors
$page-bk: #212529;
$nav-bk: #2b2f33;
$top-nav-bk: #2b2f33;
$button-bk: #ef6e27;
$complement-color: #ef6e27;
$input-bk: #2b2f33;

//Modal colors
$modal-bk: #2b2f33;

//Table colors
$table-bk: #2b2f33;
$table-row: #2b2f33;

// Dimensions
$nav-width: 250px;
$top-nav-height: 50px;

//Colors
$succes: #47d664;
$error: #e94f2d;
$info: #3186eb;
